.container {
  position: fixed;

  left: 0;
  top: 0;

  z-index: 12;

  background-color: black;

  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .wrapperButton {
    position: fixed;
    z-index: 15;

    left: 0;
    bottom: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 65px;
    width: 100%;
  }

  .button {
    border: none;
    border-radius: 50%;

    height: 50px;
    width: 50px;

    background-color: white;

    &:after {
      content: '';
      display: block;

      height: 63px;
      width: 63px;

      position: absolute;

      top: -4px;
      left: calc(50% - 36.5px);

      border-radius: 50%;

      border: solid white 5px;
    }
  }

  .btnFrontCamera {
    position: absolute;
    right: 10px;
    border: 0;
    padding: 0;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    background-color: red;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 4px #000;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .loader {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
  }

  .wrapperCamera {
    position: relative;
    max-height: 500px;
  }

  .blockPhoto {
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid white;
  }

  .urls {
    position: absolute;
    top: 10px;
  }
}
