.container {
  position: fixed;

  left: 0;
  top: 0;

  z-index: 12;

  background-color: black;

  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .wrapperButton {
    position: fixed;
    z-index: 15;

    left: 0;
    bottom: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 65px;
    width: 100%;
  }

  .wrapperTitle {
    position: absolute;
    top: 20px;
    left: 0;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    align-items: center;
    width: 100%;
  }

  .title {
    color: #f4f6f7;
    text-align: center;

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .arrowRightBtn {
    padding: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 4px #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    border: none;
    border-radius: 50%;

    width: 62px;
    height: 62px;

    background-color: white;
    font-size: 16px !important;

    &:after {
      content: '';
      display: block;
      height: 66px;
      width: 66px;
      position: absolute;
      top: -5px;
      left: calc(50% - 38px);
      border-radius: 50%;
      border: solid white 5px;
    }
  }

  .btnFrontCamera {
    position: absolute;
    right: 10px;
    border: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 4px #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btnPassport {
    position: absolute;
    left: 10px;
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 4px #000;

    svg {
      fill: #000;
      stroke: #000;
      width: 50px;
      height: 50px;
    }
  }

  .loader {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
  }

  .wrapperCamera {
    position: relative;
    margin-bottom: 100px;
  }

  .blockPhoto {
    position: absolute;
    border-radius: 20px;

    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid white;
  }
}
